.article {
    position: relative;
    background-color: #DADAC5;
    margin-left: 10%;
    margin-right: 10%;
    border: #002245 solid;
    overflow-x: auto;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.9);
    overflow: hidden;
    border-radius: 20px;
}

.search-bar {
    padding: 10px;
}

#searchbar{
    height: 2rem;
    padding-left: 8px;
    border-radius: 20px;
    width: 300px;
}

.bookshelf-Search {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.9);
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

.book-container-search {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px; 
    /* padding: 10px; */
    align-content: flex-start;
}

.Book {
    flex-grow: 1;
}

@media (max-width: 1024px) {
    .book-container-search {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    }
}

@media (max-width: 768px) {
    .article {
        max-width: 100%;
        margin: 20px 0; /* Less margin on very small devices */
        border-radius: 10px; /* Smaller radius for a softer look */
        margin-left: 0;
        margin-right: 0;
    }

    .book-container-search {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    }

    .details {
        display: none; /* Further reduce details font size for readability on phones */
    }
}

@media (max-width: 480px) {
    .article {
        max-width: 100%;
        margin: 20px 0; /* Less margin on very small devices */
        border-radius: 10px; /* Smaller radius for a softer look */
        margin-left: 0;
        margin-right: 0;
    }

    .book-container-search {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }

    .details {
        display: none; /* Further reduce details font size for readability on phones */
    }
}