
.article {
    position: relative;
    background-color: #DADAC5; /* Changed background color */
    margin-left: 10%;
    margin-right: 10%;
    border: #002245 solid;
    overflow-x: auto;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.9);
    overflow: hidden;
    border-radius: 20px;
}

/* .search-bar {
    padding: 10px;
}

#searchbar{
    height: 2rem;
    padding-left: 8px;
    border-radius: 20px;
    width: 300px;
} */

#buttonImage{
    width: 20px;
}

.bookshelf {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    /* padding: 20px; */
}

.section {
    background-color: #DADAC5;
    padding: 10px;
    /* border-radius: 10px; */
}

.section h2 {
    
    margin-top: 0;
    background-color: #F8F8F2; /* Background color for h2 */
}

.book-container {
    background-color: white;
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 20px;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
}

 

.book-container > button  {
    display: inline-block;
    background-color: #DADAC5;
    border: black solid thin;
    padding: 9px 8px;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
}

.book-container > button:hover{
    background-color: #c2c2b1;
    transition: background-color 0.3s ease; /* Smooth transition for the color change */ 
}
 

@media (max-width: 1025px) {

    .article {
        margin: 40px 0 0 0;
        border: 0;
        border-radius: 0%;
    }

    .card {
        width: 100px; /* Smaller cards to fit more content */
        height: 130px;
    }

    .details {
        display: none; /* Smaller font size for details */
    }

    .book-container > button {
        display: none; /* Hide the "Next" button on mobile devices */
        
    }


}

/* Media Queries for Phones */
@media (max-width: 500px) {
    .article {
        margin: 40px 0 0 0;
        border: 0;
        border-radius: 0%;
    }
 
 
    .card {
        width: 80px; /* Adjust card sizes for smaller screens */
        height: 100px;
    }

    .details {
        display: none; /* Further reduce details font size for readability on phones */
    }


    .book-container > button {
        display: none; /* Hide the "Next" button on mobile devices */
        
    }
 
}