* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    
}

.main-profile {
    background-color: #004285;
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: flex-end; /* Align to the bottom of the container */
    position: relative;
}

.container-name-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    position: relative;
}

.imgProfile-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
}

.imgProfile {
    width: 150px;
    height: 150px; 
    border: 7px solid #7b57b2;
    border-radius: 50%; 
    overflow: hidden;
}

.container-name-img p {
    margin-top: 20px; 
    padding: 0 10px; 
    max-width: 90%; 
    word-wrap: break-word; /* Wrap long words to the next line */
}

.layer{
    background-color: #F8F8F2;
    height: 20vh;
}


.MyBook-container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px; 
    /* padding: 10px; */
    align-content: flex-start;
}

.Book {
    flex-grow: 1;
}

.bookshelf-Profile {
    position: relative;
    background-color: #ffffff;
    /* margin-top: 9%; */
    margin-left: 8%;
    margin-right: 9%;
    border: #002245 solid;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

@media (max-width: 1024px) {
    .MyBook-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    }
}

@media (max-width: 768px) {
    .bookshelf-Profile {
        max-width: 100%;
        margin: 20px 0;
        border-radius: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .MyBook-container {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    }
}

@media (max-width: 480px) {
    .bookshelf-Profile {
        max-width: 100%;
        /* margin: 20px 0; */
        border-radius: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .MyBook-container {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); 
    }
}